<!DOCTYPE html>
<html>
<head>
  <title>Detalles del Carrito</title>
</head>
<body>
  <h1>Detalles del Carrito</h1>
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{this.name}}</td>
        <td>
          <input type="number" value="{{this.quantity}}" data-product-id="{{this._id}}">
        </td>
        <td>{{this.price}}</td>
        <td>{{this.price * this.quantity}}</td>
        <td>
          <button class="btn-delete" data-product-id="{{this._id}}">Eliminar</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/">Volver a la lista de productos</a>

  <script>
    const quantityInputs = document.querySelectorAll('input[type="number"]');
    const deleteButtons = document.querySelectorAll('.btn-delete');

    quantityInputs.forEach(input => {
      input.addEventListener('change', (event) => {
        const productId = event.target.getAttribute('data-product-id');
        const quantity = parseInt(event.target.value);
      });
    });


    deleteButtons.forEach(button => {
      button.addEventListener('click', (event) => {
        const productId = event.target.getAttribute('data-product-id');
      });
    });
  </script>
</body>
</html>
