<!DOCTYPE html>
<html>
<head>
  <title>Lista de productos paginada</title>
</head>
<body>
  <h1>Lista de productos paginada</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if hasNextPage}}
    <a href="/api/products?limit={{limit}}&page={{nextPage}}">Siguiente página</a>
  {{/if}}
  {{#if hasPrevPage}}
    <a href="/api/products?limit={{limit}}&page={{prevPage}}">Página anterior</a>
  {{/if}}
</body>
</html>
